{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
        
    </head>
    <body>
        <header>{% include "header.html" %}</header>
        <main>
            {% if request.path != "/user/auth" %}
            <div class="side-panel">
                {% block side-panel %}{% endblock %}
            </div>
            <div class="content-panel">
                {% block content-panel %}{% endblock %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>