<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
    </head>
    <body>
        <header> 
            <div class="header-container">
                <div class="header-container-logo">
                    <img src="static/images/logo.png" alt="">
                </div>
                <div class="header-container-nav">
                    <nav>
                        <div class="inner-container-nav">
                            <img src="static/images/home.png" alt="">
                            <a>Головна</a>
                        </div>
                        <div class="inner-container-nav">
                            <img src="static/images/post.png" alt="">
                            <a>Мої публікації</a>
                        </div>
                        <div class="inner-container-nav">
                            <img src="static/images/people.png" alt="">
                            <a>Друзі</a>
                        </div>
                          <div class="inner-container-nav">
                            <img src="static/images/chat.png" alt="">
                            <a>Чати</a>
                        </div>
                        <div class="inner-container-nav">
                            <img src="static/images/settings.png" alt="">
                            <a>Налаштування</a>
                        </div>
                        <div class="inner-container-nav">
                                <img src="static/images/exit.png" alt="">
                                <a>Вихід</a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="main-container">
                <div class="bottom-panel">
                    {% block bottom-panel %}{% endblock %}
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>