{% extends "base.html" %}
{% load static %}
{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/friends.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block side-panel %}
    <div class="friends-pages">
        <a class= "chosen-section" id="main-friends">Головна</a>
        <a class= "unchosen-section" id="requests-friends">Запити</a>
        <a class= "unchosen-section" id="recommended-friends">Рекомендації</a>
        <a class= "unchosen-section" id="all-friends">Всі друзі</a>
    </div>
{% endblock %}

{% block content-panel %}

<!-- <div class="all_friends">
    <div class="requests_friends">
        <div class="top-text">
            <p class="friend-titles smaller-text">Запити</p>
            <p class="see-all smaller-text">Дивитись всі</p>
        </div>
        <div class="in-requests_friends">
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Yehor Aung</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="accept-request">Підтвердити</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann </strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="accept-request">Підтвердити</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
        </div>
    </div>


    <div class="recomend_friends">
        <div class="top-text">
            <p class="friend-titles smaller-text">Рекомендації</p>
            <p class="see-all smaller-text">Дивитись всі</p>
        </div>
        <div class="in-requests_friends">
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Yehor Aung</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="add-recomendation"></button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="add-recomendation">Додати</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="add-recomendation">Додати</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
         </div>
         <div class="in-requests_friends">
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong></strong>Yehor Aung</p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="add-recomendation">Додати</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="add-recomendation">Додати</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
         </div>
         
    </div>

    <div class="recomend_friends">
        <div class="top-text">
            <p class="friend-titles smaller-text">Всі друзі</p>
            <p class="see-all smaller-text">Дивитись всі</p>
        </div>
        <div class="in-requests_friends">
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Yehor Aung</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong> </p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
         </div>
         <div class="in-requests_friends">
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Yehor Aung</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
            <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Ann Ann</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
              <div class="friend_request">
                <div class="avat-request">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="friend-nick-name">
                    <p class="friend-nickname bigger-text"><strong>Yehor Aung</strong></p>
                    <p class="name-friend smaller-text ">@thelili</p>
                </div>
                <div class="request-buttons">
                    <button class="message-button">Повідомлення</button>
                    <button class="delete-request"><strong>Видалити</strong></button>
                </div>
            </div>
         </div>
         
    </div>
    
</div> -->
{% include "user_app/particles/friends/friends_card.html"%}
{% include "user_app/particles/friends/friends_home.html"%}
{% include "user_app/particles/friends/friends_section.html"%}

{% endblock %}


{% block scripts %}
    <script type="module" src="{% static 'user_app/js/requests.js' %}"></script>
    <script type="module" src="{% static 'user_app/js/friends_sections.js' %}"></script>
    
{% endblock %}