.overlay1{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.create_post_modal{
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
    min-width: 773px;
    min-height: 682px;
    background-color: #FFFFFF;
    border: 1px;
    border: none;
    border-radius: 20px;
}

.inner-modal{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 685px;
    min-height: 614px;
}

#post-create-form p:has(#id_images){
    display: none;
}

.header-container-post{
    display: flex;
    flex-direction: column;
    width: 685px;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.close-button{
    position: absolute;
    display: flex;
    align-items: center;
    width: 685px;
    height: 20px;
    top: 20px;
    right: 30px;
    justify-content: end;
    cursor: pointer;
}
.close-button img{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 20px;
    height: 20px;
}

.close-button img:hover{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.cont-title{
    display: flex;
    width: 685px;
    height: 39px;
    justify-content: flex-start;
    
}

.cont-title span{
    font-size: 34px;
    top: 20px;
}

.cont-form form p:not(:has(input, textarea, select, label)){
    display: none;
}

.cont-form form{
    display: flex;
    width: 685px;
    min-height: 515px;
    flex-direction: column;
    gap: 16px;
}



.cont-form form p{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.cont-form form p input{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    width: 343px;
    height: 42px;
    border-color: 1px solid #CDCED2;
    border-style: solid;
    text-indent: 15px;
}

#id_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

#id_tags label{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #E9E5EE;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 91px;
    height: 28px;
    border-radius: 6px;
    list-style: none;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
}

#id_tags input[type="checkbox"]{
    display: none;
}

#id_tags label:hover{
    background-color: #D9D5DE;
}

#id_tags div label{
    display: inline-flex;
    align-items: center;
    height: 28px;
    width: max-content;
    border-radius: 8px;
    line-height: 1;
    text-align: center;
}

#id_tags label:has(input:checked){
    background-color: #543C52;
    color: #FFFFFF;
}

#id_tags li{
    display: inline-flex;
    align-items: center;
    list-style: none;
}

#plus-tag{
    display: flex;
    width: 20px;
    gap: 6px;
    cursor: pointer;
}

#id_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    width: 685px;
    padding-top: 10px;
    height: 126px;
    text-indent: 15px;
    resize: none;
}


#id_images{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.link-inin{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 42px;
    gap:4px;
}

.input-and-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.link-input-container{
    display: flex;
    width: 313px;
    height: 42px;
    flex-direction: row;
    min-height: 42px;
}


.link-input-container input{
    border-radius: 10px;
    border-color: #81818D;
    border: 1px solid;
    text-indent: 15px;
    width: 313px;
    height: 42px;
}

.add-link{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-link-button{
    display: flex;
    background: none;
    border: none;
    width: 20px;
    cursor: pointer;
}

#id_links{
    display: none;
}

.add-link-button img{
    width: 20px;
}

.button-cont1{
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 685px;
    height: 40px;
    gap: 10px;
}

.select_image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
}

.select_image img{
    display: flex;
    width: 40px;
    height: 40px;
}

.submit_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 130px;
    height: 40px;
    border-radius: 1234px;
    background-color: #543C52;
    border: none;
    color: #FFFFFF;
}

.submit_form img{
    width: 20px;
    height: 20px;
}

#select-image, #submit-form{
    cursor: pointer;
}

#select-image{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    overflow: hidden;
}

.image-preview{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.image-ind{
    display: flex;
    position: relative;
    width: 217.67px;
    height: 265px;
}

#image-preview{
    display: flex;
    width: 217.67px;
    height: 265px;
    border-radius: 10px;
}

#delete_image{
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#delete_image img{
    width: 40px;
    height: 40px;
}
 /*.all-image-post{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:16px;
}*/