<div class="overlay">
    <div class="firstlogin-modal">
        <h1 class="title-additional">Додайте деталі про себе</h1>
        <form id="firstlogin-form" method="post" action="{% url 'FirstLoginForm' %}">
            {{ firstlogin_form.as_p }}
            <div class="or-choose">
                <span class="black-text">Aбо оберіть:</span>
                <span class="green">Запропоновані варіанти відповідно до Ім'я та Прізвища</span>
            </div>
            <div class="button-cont"><button type="submit" id="firstlogin-button">Продовжити</button></div>
        </form>
    </div>
</div>
