<div class="overlay">
    <div class="modal">
        <h2 class="modal-title">Додай деталі про себе</h2>
        <div class="field">
            <label>Псевдонім автора</label>
            <input type="text" placeholder="Введіть Псевдонім автора">
        </div>
        <div class="field">
            <label>Ім'я користувача</label>
            <input type="text" placeholder="@">
        </div>
        <p class="hint">
            Або оберіть:
            <span>Запропоновані варіанти відповідно до Ім'я та Прізвище</span>
        </p>
        <button class="btn">Продовжити</button>
    </div>
</div>