{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Пости{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home_app/css/side.css' %}"> 
    <link rel="stylesheet" href="{% static 'home_app/css/createpost_input.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
    <link rel="stylesheet" href="{% static 'home_app/css/additional.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/show_post.css' %}">
{% endblock %}

{% block side-panel %}
<!-- Профиль -->
<div class="profile">
    <div class="prof-info">
        <div class = 'lina-pfp'>
            <img src="{% static 'home_app/images/pfp.png' %}">
        </div>
        <div class="nickname">
            <span class="bold-text">Lina Li</span>
            <span class="bold-text">@thelili</span>
        </div>
    </div>
    <div class="information">
        <div class="posts">
            <span class="bold-text">566</span>
            <span class="gray-color">Дописи</span>
        </div>
        <div class="readers">
            <span class="bold-text">12.1к</span>
            <span class="gray-color">Читачі</span>
        </div>
        <div class="friends">
            <span class="bold-text" >222</span>
            <span class="gray-color">Друзі</span>
        </div>
    </div>
</div>

<!-- Запросы  -->
<div class="requests">
    <div class="request">
        <div class="req1">
            <div class="gray">
                <img src="{% static 'home_app/images/people_gray.png' %}">
            </div>
            <span class="bold-text">Запити</span>
        </div>
        <span class="violet">Дивитись всі</span>
    </div>
    <div class="people">
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar1.png' %}">
                </div>
                <div class="text">
                    <span class="bold-text">Yehor Aung</span>
                    <span class="gray-color">4.3к підписників</span>
                </div>
              
            </div>
        </div>
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar2.png' %}">
                </div>  
                <div class="text"> 
                    <span class="bold-text">Ann Ann</span>
                    <span class="gray-color">1.6к підписників</span>
                    
                </div>
            </div>    
        </div>
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar3.png' %}">
                </div>
                <div class="text">
                    <span class="bold-text">Yeungen Jenua</span>
                    <span class="gray-color">10.3к підписників</span>
                </div>
            </div>
        </div>
    </div>   
</div>
<!-- Сообщения -->
<div class="notifications">
    <div class="notification">
        <div class="req1">
            <div class="gray">
                <img src="{% static 'home_app/images/alert.png' %}">
            </div>
            <span class="bold-text">Повідомлення</span>
        </div>
        <span class="violet">Дивитись всі</span>
    </div>
    <div class="people">
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar4.png' %}">
                </div>
                <div class="textall">
                    <div class="text1">
                        <span class="bold-text">Mona Lisa</span>
                        <span class="gray-color">9:41</span>
                    </div>
                    <div class="textelse">
                        <span>Привіт! Як справи?</span>
                    </div>    
                    
                </div>
              
            </div>
        </div>
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar5.png' %}">
                </div>  
                <div class="textall">
                    <div class="text1">
                        <span class="bold-text">Ann Ti</span>
                        <span class="gray-color">25.04.2025</span>
                    </div>
                    <div class="textelse">
                        <span>Привіт!</span>
                    </div>    
                    
                </div>
            </div>    
        </div>
        <div class="pers">
            <div class="in-per">
                <div class="avat">
                    <img src="{% static 'home_app/images/avatar6.png' %}">
                </div>
                <div class="textall">
                    <div class="text1">
                        <span class="bold-text">Ness Ty</span>
                        <span class="gray-color">25.04.2025</span>
                    </div>
                    <div class="textelse">
                        <span>Привіт!</span>
                    </div>    
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}

{% block content-panel %}
    {% include "post_app/particles/createpost_input.html" %}
    <div class="post-list">
        {% include 'post_app/particles/show_post.html' %}
        <div id="postLoaderLine" style="width: 100%; height: 1px;"></div>
    </div>
{% endblock %}

{% block modal-create-post %}
    {% include 'post_app/particles/create_post.html' %}
{% endblock modal-create-post %}

{% block content %}
    {% include "post_app/particles/create_post.html" %}
    {% if show_firstlogin %}
        {% include "home_app/additional.html" %}
    {% endif %}
    
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'home_app/js/firstlogin.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/create_post.js' %}"></script>
{% endblock %}  