{% load static %}
<div class="overlay2">
    <div class="add-hash-main">
        <div class="close-button-tag" id="close-button-tag">
            <img src="{% static 'post_app/images/cross.png' %}" alt="">
        </div>
        <span class="text-add">Додати хештег</span>
        <form class="hashtag-form" id="hashtag-form" method="post" action="{% url 'HashtagCreateForm' %}">
            {% csrf_token %}
            {{ hashtag_form.as_p }}
        </form>
        <div class="save-cancel">
            <button type="reset" class="cancel" id="cancel-tag">Скасувати</button>
            <button type="button" class="save" id="save-tag">Зберегти</button>
        </div>
    </div>
</div>