{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home_app/css/side.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/post.css' %}">
{% endblock %}

{% block side-panel %}
<div class="profile">
    <div class="prof-info">
        <div class = 'lina-pfp'>
            <img src="{% static 'home_app/images/pfp.png' %}">
        </div>
        <div class="nickname">
            <span class="bold-text">Lina Li</span>
            <span class="bold-text">@thelili</span>
        </div>
    </div>
    <div class="information">
        <div class="posts">
            <span class="bold-text">566</span>
            <span>Дописи</span>
        </div>
        <div class="readers">
            <span class="bold-text">12.1к</span>
            <span>Читачі</span>
        </div>
        <div class="friends">
            <span class="bold-text" >222</span>
            <span>Друзі</span>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="form_post">
        <h1 id="title-post">Створення публікації</h1>
        <div id="create-post">
            <form id="post-form" action="" method="post">
                <p>Назва публікації</p>
                <input class="small-input" type="Напишіть назву публікації">
                <p>Тема публікації</p>
                <input class="small-input" type="Напишіть тему публікації">

                <div class="tags-plus">
                    <div class="choice-tag">#відпочинок</div>
                    <div class="choice-tag">#натхнення</div>
                    <div class="choice-tag">#життя</div>
                    <div class="choice-tag">#природа</div>
                    <div class="choice-tag">#читання</div>
                    <div class="choice-tag">#спокій</div>
                    <div class="choice-tag">#гармонія</div>
                    <div class="choice-tag">музика#</div>
                    <div class="choice-tag">#фільми</div>
                    <div class="choice-tag">#подорожі</div>
                    <button id="plus-tag">
                    <img id="plus-tag" src="static/post_app/images/plus.png" alt="">
                    </button>
                </div>
                <div class="buttons-post">
                    <button id="post-image" type="submit">
                        <img  src="static/post_app/images/select_image.png" alt="">
                    </button>
                    <button id="publication-button" type="submit">
                        Публікація
                        <img id="publication-arrow" src="static/post_app/images/arrow.png" alt="">
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}