<!-- Відкриваємо блок особистих повідомлень. -->
{% load static %}
<section class="chat-messages-list" id="chat-block">
    <!-- Перебираємо особисті чати поточного користувача. -->
    {% for chat in personal_chats %}
        <!-- Перебираємо користувачів конкретного чату. -->
        {% for person in chat.users.all %}
            <!-- Пропускаємо поточного користувача. -->
            {% if person.id != request.user.id %}
                <!-- Показуємо кнопку відкриття чату зі співрозмовником. -->
                <div class="in-per chat-button" data-chat-user="{{ person.id }}">
                    <div class="avat">
                        <img src="{% static 'home_app/images/avatar4.png' %}">
                        <span class="status-ball" data-chat-user="{{ person.id }}"></span>
                    </div>
                    <div class="textall">
                        <div class="text1">
                            <span class="bold-text message-name" data-chat-username="{{ person.email }}">{{ person.last_name }}</span>
                            <span class="gray-color">{{ chat.last_message_time|date:"d.m.Y" }}</span>
                        </div>
                        <div class="textelse">
                            <span>{{ chat.last_message_text }}</span>
                        </div>
                    </div>
                </div>
                
            <!-- Закриваємо умову пропуску поточного користувача. -->
            {% endif %}
        <!-- Закриваємо цикл користувачів чату. -->
        {% endfor %}
    <!-- Якщо особистих чатів немає. -->
    {% empty %}
        <!-- Показуємо порожній стан повідомлень. -->
        <p class="no-chats">Чатів поки немає</p>
    <!-- Закриваємо цикл чатів. -->
    {% endfor %}
</section>