.createpost-input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 923px;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border: 1px
}
.in-create{
    display: flex;
    flex-direction: column;
    height: 88px;
    width: 891px;
    justify-content: space-between;
}
.chat-input{
    display: flex;
    width: 891px;
    height: 22px;
}
.text-publish{
    color: #000000;
    width: 891px;
    height: 22px;
    border: none;
    resize: none;
}
.nedo-button{
    display: flex;
    justify-content: flex-end;
    width:891px;
    height: 40px;
  
}
.button-publish{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 190px;
    height: 40px;

    background-color: #543C52;
    border-radius: 1234px;
    cursor: pointer;
}