.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 271px;
    background-color:  rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px #CDCED2 solid;
    gap: 16px;
}

.information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 350px;
    height: 55px;
}

.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    width: 116px;
    height: 48px;
    border-right: 1px rgb(68, 68, 68);
}

.readers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 116px;
    height: 48px;
    border-left: 1px #81818D solid;
    border-right: 1px #81818D solid;
}

.friends{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 116px;
    height: 48px;
}

.prof-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 175px;
    gap:24px;
}
.lina-pfp img{
    display: flex;
    align-items: center;
    width: 96px;
    height: 96px;
}

.nickname{
    gap: 10px;
    width: 350px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/** Запити **/

.requests{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 249px;
    gap:24px; 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.request{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 318px;
    height: 23px;
}

.req1{
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 94px;
    height: 23px;
    color: #81818D; 
}
.gray img{
    width: 25px;
    height: 20px;
}

.people{
    display: flex;
    flex-direction: column;
    width: 318px;
    height: 170px;
    gap:16px;
}

.pers{
    display: flex;
    justify-content: column;
    width: 318px;
    height: 46px;
}
.in-per{
    display: flex;
    flex-direction: start;
    justify-content: column;
    width: 318px;
    height: 46px;
    gap:12px;
}

.avat img{
    display: start;
    width: 46px;
    height: 46px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 18px;
    color: #070A1C;
    gap:8px;
}

.gray-color{
    color: #81818D;
}
.violet{
    color: #543C52;
}

.textall{
    width: 260px;
    height: 44px;
    flex-direction: column;
    display: flex;
    justify-content: column;
    align-items: start;
    gap: 6px;
}
.text1{
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 18px;
}
.textelse{
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 22px;
}

/** Уведомления **/

.notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 249px;
    gap:24px; 
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.notification{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 318px;
    height: 23px;
}