{% load static %} 

<div class="overlay-add-new" id="overlay-new">
    <div class="new-group-container">
        <div class="close-button">
            <img id="close-button-group" src="{% static 'post_app/images/cross.png' %}" alt="">
        </div> 
        <div class="new-group-text">
            <h2><strong>Додати учасника</strong></h2>
        </div>
        <div class="friend-search">
            <img src="{% static 'images/search.png' %}" class="search-icon">
            <input type="text" class="search-input-add" placeholder="Пошук">
        </div>
        <!-- Показуємо кількість вибраних друзів. -->
            <p class="selected-friends" >Вибрано: <span id="selected-count">0</span></p>
            <div class="list-friend-choices">
                {% regroup friends by email.0.upper as letter_list %}
                {% for letter in letter_list %}
                    <div class="friends-group">
                        <div class="group-letter">{{ letter.grouper }}</div>
                        <div class="friends-list">
                            {% for friend in letter.list %}
                                <div class="friend-choice-last">
                                    <img src="{% static 'home_app/images/avatar4.png' %}" class="friend-avatar">
                                    <span class="user-name-text">{{ friend.email }}</span>
                                    <div class="friend-choice-tick">
                                        <input class="group-user-checkbox real-checkbox" type="checkbox" value="{{ friend.id }}" data-user-name="{{ friend.email }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <p class="selected-friends" style="text-align: center; margin-top: 20px;">Список друзів порожній</p>
                {% endfor %}
            </div>
        <div class="new-group-buttons">
            <button class="cancel-group-button" id="cancel-group-button"><strong>Скасувати</strong></button>
            <button class="create-button" id="create-button"><strong>Зберегти</strong></button>
        </div> 
    </div>
</div>
