{% extends "base.html" %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Чат{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/group_chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_content.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/new_group.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/new_group_settings.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/add_person.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/editing_group.css' %}">
{% endblock %}

{% block side-panel %}
<div class="chat-side-panel">
    <button class="open-group-modal" id="open-group-modal">
        <img src="{% static 'chat_app/images/chatplus.png' %}" class="chat-plus" >
        <span class="open-group-modal-text">Створити груповий чат</span>
    </button>
    <div class="chat-list">
        <div class="contacts">
            <img src="{% static 'home_app/images/people_gray.png' %}" class="contacts-icon">
            <span class="contacts-text">Контакти</span>
        </div>
        <div class="chat-search">
            <img src="{% static 'images/search.png' %}" class="search-icon">
            <input type="text" class="search-input" placeholder="Пошук">
        </div>
        {% include "chat_app/particles/chat_contacts.html" %}
        
    </div>
</div>
{% endblock %}

{% block content %}

<div class="chat-content">
    
    <div id="top-chat-header" class="chat-content-chat-top">
        <div class="chat-name-inf-arrow" >
            <img id="close-chat-button" src="{% static 'images/back_arrow.png' %}" class="arrow">
            <div class="chat-info">
                <img src="{% static 'home_app/images/avatar4.png' %}" class="chat-photo">
                <div class="chat-info-label">
                    <span id="top-chat-user-id" data-chat-user="{{ friend.id }}" class="friend-name"></span>
                    <span class="top-chat-user-status" data-is-group="{% if group_chats %}true{% endif %}">offline</span>
                </div>
            </div>
        </div>
        <div class="dots-cont">
            <img src="{% static 'images/dots.png' %}" id="edit-menu-dots" class="dots_chat">
            <div class="overlay-edit-chat" id="overlay">
                <div class="admin-edit-cont">
                    <div class="dots-cont-edit">
                        <img src="{% static 'chat_app/images/dots.png' %}"  class="dots-icon">
                    </div>
                    <div class="media">

                        <img src="{% static 'images/post.png' %}" class="media-icon">
                        <p class="media-text">Медіа</p>
                    </div>   
                    <div class="edit-group" id="edit-modal">
                        <img src="{% static 'images/pen.png' %}" class="edit-icon">
                        <p class="edit-text">Редагувати групу</p>
                    </div>
                    <div class="line"></div>
                    <div class="delete-group">
                        <img src="{% static 'chat_app/images/trashcan.png' %}" class="delete-icon">
                        <p class="delete-text">Видалити чат</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="chat-text-center">
        <div class="chat-text-container is-placeholder" id="chat-text-block">
            <h2 id="chat-title">Почніть нове спілкування</h2>
            <p id="chat-status">Оберіть контакт зі списку ліворуч<br> або створіть групу, щоб почати спілкування</p>
            {% include "chat_app/particles/chat_main.html" %}
        </div>
    </div>
  
</div>
<div class="chat-section">
    <div class="chat-messages">
        <div class="chat-messages-top">
            <img src="{% static 'home_app/images/alert.png' %}" class="chat-avatar">
            <p>Повідомлення</p>
            <div class="view-all">
                <span>Дивитись всі</span>
            </div>
        </div>
        {% include "chat_app/particles/chat_messages.html" %}
    </div>

    <div class="group-chat">
        <div class="chat-messages-top">
            <img src="{% static 'home_app/images/alert.png' %}">
            <p>Групові чати</p>
            <div class="view-all">
                <span>Дивитись всі</span>
            </div>
        </div>
        
        <div class="chat-messages-list">
            {% include "chat_app/particles/chat_groups.html" %}
        </div> 
    </div> 
</div> 

{% include 'chat_app/particles/group_modal.html' %}
{% include 'chat_app/edit_chat.html' %}
{% include 'chat_app/edit_group.html' %}
{% include 'chat_app/add_person.html' %}

{% endblock %}

{% block scripts %}
    <script>const LOGGED_IN_USER = "{{ request.user.username }}";</script>
    <script type="module" src="{% static 'chat_app/js/chat.js' %}"></script>
    <script type="module" src="{% static 'chat_app/js/group_chat.js' %}" defer></script>
    <script type="module" src="{% static 'chat_app/js/loadImages.js' %}"></script>
    <script type="module" src="{% static 'chat_app/js/onlineStatus.js' %}"></script>
{% endblock %}