{% load static %}
<div class="overlay-edit" id="overlay-edit">
    <div class="new-group-container1">
    
        <div class="close-button" id="edit-close-cross">
            <img id="close-button-group" src="{% static 'post_app/images/cross.png' %}" alt="Закрыть">
        </div>
        
        <div class="new-group-text">
            <h2><strong>Редагування групи</strong></h2>
        </div>
        
        <div class="new-group-name">
            <p>Назва</p>
            <input type="text" id="group-name-input" placeholder="New group">
        </div>
        
        <div class="group-photo">
            <img src="{% static 'home_app/images/avatar6.png' %}" class="group-photo-preview" >
            <div class="upload-photo-2">
                <div class="upload-icon">
                    <img src="{% static 'images/plus_noback.png' %}" class="plus-icon"> 
                    <p>Додайте фото</p>
                </div>
                <div class="upload-photo">
                    <img src="{% static 'images/post.png' %}" class="photo-icon"> 
                    <p>Оберіть фото</p>
                </div>
            </div>
        </div> 
        <div class="new-group-friends">
            <div class="text-members">
                <p>Учасники</p>
                <div class="add-member" id="add-member">
                    <img src="{% static 'chat_app/images/plus_noback.png' %}" class="plus-icon">
                    <span>Додайте учасника</span>
                </div>
            </div>
            <div class="all-new-group-friends" id="modal-members-list">
                {% for friend in group_members %}
                <div class="friend-choice" data-user-id="{{ friend.id }}">
                    <img src="{% static 'home_app/images/avatar6.png' %}" class="friend-avatar">
                    <div class="delete-friend-container">
                        <span class="user-name-text">{{ friend.username }}</span>
                        <img src="{% static 'chat_app/images/trashcan.png' %}" class="delete-friend" id="delete-edit-friend">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="new-group-buttons">
            <button class="chat-back" id="close-edit-modal">Назад</button>
            <button class="chat-create" id="save-edit-change">Зберегти зміни</button>
        </div> 
    </div>
</div>