* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    height: 8vh;
    background: white;
    border-bottom: 0.1vh solid #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 70vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
.header-container-logo img {
    height: 3vh;
}

/* NAV */
.header-container-nav {
    display: flex;
    align-items: center;
    gap: 2vw;
}

/* ITEMS */
.inner-container-nav {
    display: flex;
    align-items: center;
}

/* LINKS */
.inner-container-nav a {
    display: flex;
    align-items: center;
    gap: 0.5vw;

    padding: 0.7vh 1vw;
    border-radius: 1vh;

    text-decoration: none;
    color: #333;

    transition: 0.2s;
}

/* ICONS */
.inner-container-nav img {
    height: 2.5vh;
}

/* HOVER */
.inner-container-nav a:hover {
    background-color: #d81b60;
    color: white;
}

/* LOGOUT */
.logout {
    border: 0.2vh solid #d81b60;
    border-radius: 5vh;

    padding: 0.5vh 1.5vw;

    color: #d81b60;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logout:hover {
    background-color: #d81b60;
    color: white;
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 70vw;
    margin-top: 2vh;
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
}

.content h1 {
    text-align: center;
}